:root {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  max-width: 1024px;
  margin: 2rem auto;
  padding: 0 2rem;
  background-color: #fcf6f6;
}

p {
  margin: 1rem 0;
}

.button {
  background-color: gray;
  padding: 1rem 1.8rem;
  border-radius: 1rem;
  cursor: pointer;
  border: none;
  margin-bottom: 1rem;
}

.error {
  background-color: red;
  color: white;
  cursor: initial;
}

.iFrame {
  width: 100%;
  border-radius: 1rem;
  background-color: ivory;
}

.ChildFrame {
  background-color: khaki;
}
